@page "/"
@inject ISongRepository songRepository
@inject IArtistRepository artistRepository

<div>
    <SongsList Songs="Songs" />
</div>

<div>
    <ArtistsList Artists="Artists" />
</div>

@code{
    private List<Song> Songs = new List<Song>();
    private List<Artist> Artists;

    protected override async Task OnInitializedAsync()
    {
        Artists = await artistRepository.GetArtists();
    }
}