@page "/create"

<h3>Index create</h3>

<div class="form-group">
    <a class="btn btn-info" href="song/create">New song</a>
</div>

<div class="form-group">
    <a class="btn btn-info" href="artist/create">New artist</a>
</div>

<div class="form-group">
    <a class="btn btn-info" href="album/create">New album</a>
</div>

<div class="form-group">
    <a class="btn btn-info" href="playlist/create">New playlist</a>
</div>


@code {

}
