@page "/"
@inject ISongRepository songRepository
@inject IArtistRepository artistRepository

<h2>Songs</h2>
<div>
    <SongsList Songs="Songs" />
</div>

<h2>Artists</h2>
<div>
    <ArtistsList Artists="Artists" />
</div>

@code{
    private List<Song> Songs;
    private List<Artist> Artists;

    protected override async Task OnInitializedAsync()
    {
        Artists = await artistRepository.GetArtists();
        Songs = await songRepository.GetSongs();
    }
}

