@page "/artists" 
@inject IArtistRepository artistReposiory 

<h1>Artists</h1>

<div>
    <ArtistsList Artists="artists" />
</div>

@code {
    private List<Artist> artists;

    protected override async Task OnInitializedAsync()
    {
        artists = await artistReposiory.GetArtists();
    }
}
