<label>@Label</label>
<InputFile accept=".mp3" OnChange="OnChange" />

@code {
    [Parameter] public string Label { get; set; } = "Image";
    [Parameter] public EventCallback<string> OnSelectedAudioFile { get; set; }
    [Parameter] public string AudioFileURL { get; set; }

    private string audioBase64;

    async Task OnChange(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();
        var buffer = new byte[imageFiles[0].Size];
        await imageFiles[0].OpenReadStream(20971520).ReadAsync(buffer);
        audioBase64 = Convert.ToBase64String(buffer);
        await OnSelectedAudioFile.InvokeAsync(audioBase64);
        AudioFileURL = null;
        StateHasChanged();
    }
}
