@page "/song/create"
@inject ISongRepository songRepository
@inject NavigationManager navigationManager

<h1>Create song</h1>

<SongForm Song="song" OnValidSubmit="SaveSong" />

@code {

    private Song song = new Song();

    private async Task SaveSong()
    {
        await songRepository.CreateSong(song);
        navigationManager.NavigateTo("songs");
    }
}
