@page "/songs"
@inject ISongRepository songRepository

<h1>Songs</h1>

<div>
    <SongsList Songs="songs" />
</div>

@code {
    private List<Song> songs;

    protected override async Task OnInitializedAsync()
    {
        songs = await songRepository.GetSongs();
    }
}
